@model IEnumerable<LostArkOffice.Models.ViewModels.SuperAdmin.UsuariosViewModel>
@using Microsoft.AspNetCore.Identity;

@{
    var rolesList = ViewBag.ListaRoles as IList<IdentityRole>;
}
@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Usuario</th>
            <th>Email</th>
            <th>Gremio</th>
            <th>Roles</th>
            <th>Asignar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.NombreUsuario</td>
                <td>@user.Email</td>
                <td>@user.Gremio</td>
                <td>@user.Roles</td>
                <td><select id="select-@user.NombreUsuario" class="form-select" aria-label="Roles" onchange="asignarRol(this,'@user.NombreUsuario')"><option selected>AsignarRoles</option>
                    @foreach (var rol in rolesList)
                        {
                            <option value="@rol.Id">@rol.Name</option>
                        }
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function asignarRol(element, userId) {
        var rolId = element.value;
        console.log("Usuario: " + userId + ", Rol: " + rolId);

        // Aquí puedes agregar una solicitud AJAX para enviar esta información al servidor
        // Por ejemplo:
        
        fetch('/SuperAdmin/AsignarRol', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                RequestVerificationToken: document.querySelector('input[name="__RequestVerificationToken"]').value
            },
            body: `userID=${encodeURIComponent(userId)}&rolID=${encodeURIComponent(rolId)}`
        })
        .then(response => response.json())
        .then(data => {
            window.location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
        
    }
</script>